.login-form {
  padding-left: 5px !important;
  padding-bottom: 4px;
}

.login-icon {
  font-size: 20px;
}

.search-input {
  width: 100%;
}

.app-icon {
  background-color: #fff;
  background: url('../img/logo.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 0 auto;
  width: 125px;
}